html{
    padding: 0;
    margin: 0;
}
p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}



/* trabajo en el header */
header{
    display: flex;
    justify-content: space-between;
    margin: 45px;
    margin-bottom: 15%;
}
header button{
    background-color: #FFFFFF;
    text-decoration: none;
    border-radius: 100px;
    padding: 0px 35px;
    color: #FD53C0;
    border: 1px solid #FD53C0;
}



/* trabajo en el hero */
.hero{
    margin-bottom: 10%;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 51px;
    margin: 0;
    color: #002326;
}
.hero p{
    width: 38%;
    text-align: center;
    margin: 30px 0px;
}
.hero button{
    background-color: #FD53C0;
    color: #FFFFFF;
    border: none;
    margin-bottom: 30px;
    padding: 20px 90px;
    border-radius: 50px;
    box-shadow: 5px 5px #DEE2E5;
}



/* trabajo en la seccion herox2 */
.herox2{
    margin-bottom: 10%;
}
.img-herox2{
   display: flex;
   justify-content: center;
}
.comunidades-mensajes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.comunidades-mensajes h1{
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    margin: 0;
    color: #002326;
}
.comunidades-mensajes p{
    color: hsl(0, 0%, 75%);
    text-align: center;
}
.mensajes{
    margin-right: 70px;
}



/* trabajo en la seccion grow */ 
.grow{
    *background-color: #F6FBFF;
}
.contenedor1{
    position: relative;
    width: 100%;
    height: 200px;
    left: 0;
    overflow: hidden;
}
.wave1{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
}
.contenedor2{
    position: relative;
    width: 100%;
    height: 200px;
}
.wave2{
    background-image: url(images/bg-section-bottom-desktop-1.svg);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}
.grow-todo{
    margin-top: -40px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    background-color: #F6FBFF;
}
.grow-texto{
    margin-left: 45px;
}
.grow-texto h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    font-size: 42px;
    color: #002326;
}
.grow-texto p{
    width: 70%;
}
.grow-img{
    width: 40%;
    margin-right: 45px;
}



/* trabajo en la seccion conversations */
.conversations{
    display: flex;
    align-items: center;
    margin-top: 5%
}
.conversations img{
    width: 40%;
    margin-left: 45px;
}
.conversations-texto{
    margin-right: 45px;
    margin-left: 190px;
}
.conversations-texto h1{
    font-family: 'Raleway', sans-serif;
    margin: 20;
    font-size: 42px;
    color: #002326;
}
.conversations-texto p{
    width: 100%;
}


